@font-face {  
  font-family: "PT Sans', sans-serif";  
  src: url("..//fonts/ptsans.woff2") format("woff2"), 
       url("..//fonts/ptsans.woff") format("woff"); 
  font-display: swap;      

}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;  
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2;
}

h3 {
  font-size: 21px;
  font-weight: 700;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  display: none;
}

/* МЕНЮ */

.main-nav__menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  width: 240px;
  height: 56px;
  line-height: 26px;
  align-items: center;
}

.main-nav__item-link {
  margin: 0 auto;
  font-weight: 700;
  line-height: 26px;
}

.main-nav__item:first-child {
  margin-right: 0;
}

.main-nav__item:nth-child(2) {
  margin-right: auto;
}

.main-nav__item:last-child {
  margin-left: 0;
}

.main-nav__item:nth-child(3) {
  margin-left: auto;
}

.main-nav__item-link {
  text-decoration: none;
  color: #000;
}

.main-nav__item-link:hover, 
.main-nav__item-link:focus {
  color: #81b3d2;
  outline: 0;
}

main-nav__item-link:active {
  color: rgba(0 0 0, 0.3);
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-70px);
}

/* ОФФЕР */

.offer__wrapper {
  padding-top: 76px;
  padding-bottom: 80px;
  width: 1200px;
  height: 442px;
  background-color: #e4f1f9;
  background-image: url("..//img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.offer__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  margin-top: 465px;
  width: 1200px;
  height: 59px;
  background-image: url("..//img/background-bottom-part.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.offer__img {
  display: block;
  margin: 0 auto;
}

/* СЕДОНА */

.about {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 61px 0 56px;
}

.about__info {
  max-width: 490px; 
  margin: 0 auto;
}
.about__info-title {
  margin: 0 0 38px 0;
  line-height: 26px;
}
.about__info-text {
  margin: 0;
  line-height: 26px;
  color: #333;
}

/* ПРЕИМУЩЕСТВА СЕДОНЫ */

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #81b3d2;
  text-align: center;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  color: #fff;
}

.advantages__number {
  color: #fff;
}

.advantages__text {
  color: #fff;
  margin: 0;
}

.advantages__info-first {
  max-width: 280px;
  max-height: 146px;
  padding: 46px 60px 64px 60px;
}

.advantages__info-second {
  max-width: 303px;
  max-height: 142px;
  padding: 49px 49px 65px 48px;
  order: 1;
}

.advantages__img {
  max-width: 800px;
  max-height: 256px;
}

/* ОСОБЕННОСТИ СЕДОНЫ */

.features {
  padding-top: 62px;
  padding-bottom: 85px;
}

.features__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.features__item {
  max-width: 290px;
  list-style: none;
}

.features__item-title {
  margin: 0;
  
}

.features__item-text {
  margin: 0;
}

.features__item-house {
  background-image: url("..//img/house-icon-1.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center;
  bottom: 20px;
}
.features__item-food {
  background-image: url("..//img/food-icon-2.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center;
}
.features__item-souvenirs {
  background-image: url("..//img/souvenirs-icon-3.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: center;
}

/* ПРЕИМУЩЕСТВА СЕДОНЫ */

.reasons {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 64px;
}

.reasons__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.reasons__item-title {
  margin: 0;
}

.reasons__item-text {
  margin: 0;
}

.reasons__item-area {
  max-width: 208px;
  height: 142px;
}

.reasons__item-road {
  max-width: 262px;
  height: 142px;
}

.reasons__item-tourists {
  max-width: 247px;
  height: 142px;
}

/* ПОИСК ГОСТИНИЦЫ */

.travel__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 440px;
  min-height: 100px;
  padding-top: 56px;
  padding-bottom: 51px;
  margin: 0 auto;
}
.travel__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.travel__text {
  line-height: 24px;
  color: #333 ;
  margin: 0;
}

.travel__search__wrapper {
  text-align: center;
}

.travel__search__btn {
  background-color: #766357;
  color: #fff;
  width: 568px;
  height: 86px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.travel__search__btn:hover,
.travel__search__btn:focus {
  background-color: #604e43;
  cursor: pointer;
}

.travel__search__btn:active {
  color: rgba(255 255 255, 0.3);
  background-color: #503e33;
}

/* МОДАЛЬНОЕ ОКНО */

.travel__search__modal-window {
  max-width: 568px;
  min-height: 395px;
  left: 50%;
  margin: 0 auto;
}

.travel__search__form-btn {
  display: block;
  min-width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  text-align: center;
  margin: 0 auto; 
}

.travel__search input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

.travel__search input[type="text"]:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.travel__search input[type="text"]:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: 0;
  
}

/* ПОДВАЛ */

main-footer {
  background-color: #fff;
}

.main-footer__contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-footer__contacts:first-child {
  margin-left: 132px;
}

.main-footer__contacts:last-child {
  margin-right: 101px;
}

main-footer__contacts-left-column {
  display: flex;
  flex-direction: column;
}

.main-footer__contacts__left-column a {
  color: #111;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

.main-footer__contacts__phone {
  margin-top: 10px;
}

.social {
  display: flex;
  max-width: 150px;
  margin-right: 68px;
}

.social__link {
  width: 46px;
  height: 48px;
  text-align: center;
  background-color: #81b3d2;
}

.social__link:nth-child(2) {
  margin-right: 6px;
  margin-left: 6px;
}

.tw__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/tw-icon.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position: center;
}

.fb__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.ytb__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/youtube-icon.svg ");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: center;
}

.developer {
  display: flex;
  align-items: center;
}

.developer__text {
  display: block;
  margin-right: 8px;
}
