@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src:   
        url("../fonts/ptsans.woff2") format("woff2"), 
        url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: 
        url("../fonts/ptsansbold.woff2") format("woff2"), 
        url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2;
}

h3 {
  font-size: 21px;
  font-weight: 700;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  display: none;
}

/* МЕНЮ */

.main-nav__menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  width: 240px;
  height: 56px;
  line-height: 26px;
  align-items: center;
}

.main-nav__item-link {
  margin: 0 auto;
  font-weight: 700;
  line-height: 26px;
  outline-color: #81b3d2;
}

.main-nav__item:first-child {
  margin-right: 0;
}

.main-nav__item:nth-child(2) {
  margin-right: auto;
}

.main-nav__item:last-child {
  margin-left: 0;
}

.main-nav__item:nth-child(3) {
  margin-left: auto;
}

.main-nav__item-link {
  text-decoration: none;
  color: #000;
}

.main-nav__item-link:hover,
.main-nav__item-link:focus {
  color: #81b3d2;
  outline-color: #81b3d2;
}

.main-nav__item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-70px);
}

.main-nav__logo-link {
  outline-color: #81b3d2;
}

/* ОФФЕР */

.offer-wrapper {
  padding-top: 76px;
  padding-bottom: 80px;
  width: 1200px;
  height: 442px;
  background-color: #e4f1f9;
  background-image: url("..//img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  margin-top: 465px;
  width: 1200px;
  height: 59px;
  background-image: url("..//img/background-bottom-part.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.offer__img {
  display: block;
  margin: 0 auto;
}

/* СЕДОНА */

.about {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 61px 0 56px;
}

.about__info {
  max-width: 490px;
  margin: 0 auto;
}
.about__info-title {
  margin: 0 0 38px 0;
  line-height: 26px;
}
.about__info-text {
  margin: 0;
  line-height: 26px;
  color: #333;
}

/* ПРЕИМУЩЕСТВА СЕДОНЫ */

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #81b3d2;
  text-align: center;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  color: #fff;
}

.advantages__number {
  color: #fff;
}

.advantages__text {
  color: #fff;
  margin: 0;
}

.advantages--first__info {
  max-width: 280px;
  max-height: 146px;
  padding: 46px 60px 64px 60px;
}

.advantages--second__info {
  max-width: 310px;
  max-height: 142px;
  padding: 49px 49px 65px 48px;
  order: 1;
}

.advantages__img {
  max-width: 800px;
  max-height: 256px;
  overflow: hidden;
}

/* ОСОБЕННОСТИ СЕДОНЫ */

.features {
  padding-top: 14px;
  padding-bottom: 85px;
}

.features__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features__item {
  max-width: 290px;
  list-style: none;
}

.features__item-title {
  margin: 0;
  margin-bottom: 30px;
}

.features__item-text {
  margin: 0;
}

.features__item--house {
  background-image: url("..//img/house-icon-1.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 108px 50px;
  padding-top: 153px;
  bottom: 20px;
}

.features__item--food {
  background-image: url("..//img/food-icon-2.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: 108px 50px;
  padding-top: 153px;
  bottom: 20px;
} 

.features__item--souvenirs {
  background-image: url("..//img/souvenirs-icon-3.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: 108px 50px;
  padding-top: 153px;
  bottom: 20px;
}

/* ПРЕИМУЩЕСТВА СЕДОНЫ */

.reasons {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 64px;
}

.reasons__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.reasons__item-title {
  margin: 0;
}

.reasons__item-text {
  margin: 0;
}

.reasons__item--area {
  max-width: 208px;
  height: 142px;
}

.reasons__item--road {
  max-width: 262px;
  height: 142px;
}

.reasons__item--tourists {
  max-width: 247px;
  height: 142px;
}

/* ПОИСК ГОСТИНИЦЫ */

.travel__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 440px;
  min-height: 100px;
  padding-top: 56px;
  padding-bottom: 51px;
  margin: 0 auto;
}
.travel__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.travel__text {
  line-height: 24px;
  color: #333;
  margin: 0;
} 

.travel__search--wrapper {
  text-align: center;
}

.travel__search__btn {
  background-color: #766357;
  color: #fff;
  width: 568px;
  height: 86px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  outline-color: #81b3d2;
  border: none;
}

.travel__search__btn:hover,
.travel__search__btn:focus {
  background-color: #604e43;
  cursor: pointer;
}

.travel__search__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline-color: #503e33;
}

/* МОДАЛЬНОЕ ОКНО */

.travel__search__modal-window {
  max-width: 568px;
  min-height: 395px;
  left: 50%;
  margin: 0 auto;
}

.travel__search__modal-form {
  margin-left: 55px; 
}

.travel__search__modal-form label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.travel__search__modal-form input[type="text"] {
  background-color: #f2f2f2;
  border: none;
  color: #000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700; 
  text-transform: uppercase;
}

.travel__search__modal-form input::placeholder {
  color: #000;
}

.form__arrival {
  position: relative;
  padding-top: 55px;
}

.form__departure {
  padding-top: 29px;
}

.travel__search__modal-form input[type="text"]:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.travel__search__modal-form input[type="text"]:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.form__arrival-input {
  width: 364px;
  min-height: 38px;
}

.form__arrival-calendar {
  border: none;
}

.form__departure-input {
  width: 364px;
  min-height: 38px;
}

.form__departure-calendar {
  border: none;
}

.form__number-people {
  display: flex;
}

.travel__search__form-btn {
  display: block;
  min-width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  text-align: center;
  margin: 0 auto;
  outline-color: #5496bd;
  border: none;
}

.travel__search__form-btn:hover,
.travel__search__form-btn:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.travel__search__form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.form__number-adults {
  display: flex;
  align-items: center;
}

.adults__btn--number {
width: 38px;  
height: 38px;
text-align: center;
padding: 0;
}

.adults__btn--low {
border: none;
width: 38px;
height: 38px;
background-color: #f2f2f2;
}

.adults__btn--hight {
border: none;
width: 38px;
height: 38px;
background-color: #f2f2f2;
}

.form__number-kids {
    display: flex;
    align-items: center;
}

.kids__btn--number {
  width: 38px;  
  height: 38px;
  text-align: center;
  padding: 0;
}

.kids__btn--low {
  border: none;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.kids__btn--hight {
  border: none;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}


/* ПОДВАЛ */

main-footer {
  background-color: #fff;
}

.main-footer__contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-footer__contacts:first-child {
  margin-left: 132px;
}

.main-footer__contacts:last-child {
  margin-right: 101px;
}

main-footer__contacts-left-column {
  display: flex;
  flex-direction: column;
  outline-color: #81b3d2;
}

.contacts a {
  color: #111;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  outline-color: #81b3d2;
}

.contacts__phone {
  margin-top: 10px;
}

.social {
  display: flex;
  max-width: 150px;
  margin-right: 68px;
}

.social__link {
  width: 46px;
  height: 48px;
  text-align: center;
  background-color: #81b3d2;
  outline-color: #81b3d2;
}

.social__link:nth-child(2) {
  margin-right: 6px;
  margin-left: 6px;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.tw__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/tw-icon.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position: center;
}

.fb__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.ytb__link {
  width: 46px;
  height: 48px;
  background-image: url("..//img/youtube-icon.svg ");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: center;
}

.developer {
  display: flex;
  align-items: center;
}

.developer__text {
  display: block;
  margin-right: 8px;
}

.developer__link {
  outline-color: #81b3d2;;
}

.developer__link-img:hover,
.developer__link-img:focus {
  fill: #81b3d2;
}

.developer__link-img:active {
  fill: #bdbbbc;
}

/* CATALOG.HTML */

/* ФИЛЬТРЫ */ 

.filters__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D1E3ED;
  background-image: url("..//img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.filters__list {
  list-style: none;
}

.filters__item input {
  
}

.filters__checkbox-label {
  color: #fff;
}

.filters__wrapper:after {
  content: "";
}

.filters__legend {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.filters__price-legend {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.filters__price-label {
  color: #fff;
}

.filters__price-label input {
  color: #fff;
  background-color: transparent;
  border: none;
}

.filters__price-control {
  font-size: 0; 
}

.filter-btn {
  display: block;
  width: 133px;
  height: 32px; 
  color: #fff ;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto; 
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.filter-btn {
  display: block;
  width: 133px;
  height: 32px; 
  color: #fff ;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto; 
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-btn:hover {
  color: #000;
  background-color: #fff;
}

/* НАЙДЕННЫЕ ГОСТИНИЦЫ */

.hotels__sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
}

.hotels__sorting-result {
  margin-right: 49px;
}

.hotels__sorting-result-title {
    display: inline;
}

.hotels__sorting-result-total {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels__sorting-title {
  display: table-cell;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 40px;
} 

.hotel__sotring-items {
  display: flex;
  align-items: center;
  min-height: 88px;
  margin-right: auto;
  
}

.hotels__sorting-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels__sorting-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 33px;
}

.hotels__sorting-link:hover,
.hotels__sorting-link:focus {
    color: #81b3d2;
}

.hotels__sorting-link:active {
  color: #000;
}

.hotels__sorting-updown-list {
  display: flex;
  list-style: none;
}

.hotels__sorting-updown-link {
  font-size: 0; 
}

.link-up {
  
}

.link-down {
  
}

/* ОТЕЛИ */

.hotels__list {
  margin: 0;
  padding: 0;
}

.hotels__item {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}

.hotels__item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotels__item__photo {
  width: 135px;
  height: 90px;
  padding-right: 30px;
  margin-left: 72px;
}

.hotels__item-description {
  margin-right: auto;
  min-height: 90px;
}

.hotels__item-description a {
  text-decoration: none;
}

.hotels__item-name {
  margin-top: -3px;
  margin-bottom: 0;
  line-height: 26px;

}

.hotels__item-link {
  color: #000;
  line-height: 26px;
}

.hotels__item-link:hover,
.hotels__item-link:focus {
  color: #81b3d2;
}

.hotels__item-link:active {
  color: rgba(0, 0, 0, 0.3);
}


hotels__item__info-type {
  color: #333;
}

.hotels__item__info {
  display: inline-block;
  margin-top: 8px;
}

.hotels__item__info-btn {
  display: block;
  width: 110px;
  height: 27px;
  color: #fff;
  font-weight: 700;
  line-height: 27px;
  background-color: #81b3d2;
  text-align: center;
  margin-top: 10px;
}

.hotels__item__info-btn:hover,
.hotels__item__info-btn:focus {
  background-color: #669ec0;
}

.hotels__item__info-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotels__item__details {
  display: inline-block;
  margin-top: 8px;
  
}

.hotels__item__details-price {
  display: block;
  color: #333;
}

.hotels__item__details-btn {
  display: block;
  width: 142px;
  height: 27px;
  color: #fff;
  font-weight: 700;
  line-height: 27px;
  background-color: #766357;
  text-align: center; 
  margin-top: 10px;
}

.hotels__item__details-btn:hover,
.hotels__item__details-btn:focus {
  background-color: #604e43;
}

.hotels__item__details-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels__item__rating {
  margin-right: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels__item__rating-stars {
  display: flex;
}

.stars__item {
  position: relative;
  display: block;
  font-size: 0;
  width: 18px;
  height: 17px;
  background-image: url("..//img/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.hotels__item__rating-title {
  display: block;
  width: 110px;
  height: 27px;
  font-size: 14px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 27px;
}